*~
.*.swp
.swp
*.log
.DS_Store
.vscode/
.direnv/
.envrc.local
.flatpak-builder/
zig-cache/
.zig-cache/
zig-out/
/result*
example/*.wasm
packages/wasm-api/wasm/
node_modules/
test/ghostty
test/cases/**/*.actual.png
flatpak/builddir/
flatpak/repo/

glad.zip
/Box_test.ppm
/Box_test_diff.ppm
/ghostty.qcow2

vgcore.*
